<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Travlr Getaways Website Template</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}
            <div id="contents">
                <div id="adbox">
                    <img src="images/sea-sound.jpg" alt="Img">
                    <h1>Enjoy the Summer with Us!</h1>
                    <p>
                        Travlr Getaway mock site by William Leaver.
                    </p>
                </div>
                <div id="main">
                    <div class="box">
                        <div>
                            <div>
                                <h3>Latest Blog</h3>
                                <ul id="blog">
            {{#each blog}}
                                    <li>
                                        <h4><a href="news">{{this.title}}</a></h4>
                                        {{{this.date}}}
                                        {{{this.content}}}
                                    </li>
            {{/each}}    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="testimonials" class="box">
                        <div>
                            <div>
                                <h3>Testimonials</h3>
            {{#each review}}
                                <p>
                                    {{this.content}} <span>- <a href="index">{{this.name}}</a></span>
                                </p>
            {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar">
            {{#each sidebar}}
                    <div class="section">
                        <a href={{this.href}}><img src="images/{{this.img}}" alt="Img"></a>
                    </div>
            {{/each}}
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</body>
</html>